.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto;
}

.main {
    min-height: calc(100vh - 295px);
}

.header {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 1168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
    margin-bottom: 48px;
}

.header__logo {
    margin-bottom: 36px;
}

.main-nav {
    margin: 0;
    padding: 0;
    min-width: 1170px;
}

.main-nav__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
    padding: 0;
    margin: 0;
}

.main-nav__item {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
}

.main-nav__item a {
    text-decoration: none;
    color: #000000;
}

.main-nav__item a:hover {
    color: #ff7931;
}

.first-screen__header {
    position: relative;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-top: 132px;
    color: #ffffff;
    margin-bottom: 134px;
}

.first-screen__header::before {
    content: "";
    position: absolute;
    background: no-repeat url("img/mountin-icon.svg");
    width: 55px;
    height: 55px;
    top: 45px;
    left: 50%;
    transform-origin: top left;
    transform: translate(-50%);
}

.first-screen__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #ffffff;
    max-width: 456px;
    margin: 0 auto;
}

.first-screen {
    min-height: 464px;
    width: 1440px;
    background-color: #001726;
    background: no-repeat url("img/first-background.jpg");
    margin: 0 auto;
}

.review {
    margin: 0 auto;
    max-width: 1168px;
    padding-top: 44px;
    margin-bottom: 55px;
}

.review__header {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.review__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.review__item {
    width: 370px;
}

.item__header {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.item__header a {
    text-decoration: none;
    color: #000000;
}

.item__header a:hover {
    color: #ff7931;
}

.review__text {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.review img {
    margin-bottom: 15px;
}

.season-ticket {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 34px;
    padding-bottom: 34px;
    background: #f7f7f7 url("img/circle.svg") no-repeat 50% 49%;
    margin-bottom: 50px;
}

.season-ticket__item {
    position: relative;
}

.season-ticket__item:first-child::before {
    display: none;
}

.season-ticket__item::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    top: -25px;
    left: 50%;
    transform: translate(-50%);
}

.season__wrapper {
    position: relative;
    max-width: 707px;
    margin: 0 auto;
    text-align: center;
}

.season__header {
    position: relative;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
}

.season-ticket__header {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 6px;
}

.season-ticket__list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 47px;
}

.season-ticket__head {
    text-align: center;
}

.season-ticket___text {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin: 0 auto;
    padding: 0;
    width: 370px;
    text-align: center;
    margin-bottom: 49px;
}

.button {
    position: relative;
    background-color: #ff7931;
    padding: 17px 60px 17px 30px;
    color: #ffffff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    margin: 0 auto;
    cursor: pointer;
}

.button:hover {
    color: #575757;
}

.button::after {
    content: '';
    position: absolute;
    background: no-repeat url("img/arrow-icon.svg");
    top: 14px;
    right: 32px;
    width: 16px;
    height: 16px;
}

.footer {
    background-color: #575757;
    min-height: 295px;
    flex: 0 0 auto;
}

.footer__wrapper {
    position: relative;
    max-width: 1170px;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 46px;
}

.footer-nav {
    margin-top: 23px;
    margin-bottom: 42px;
}

.footer-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.footer-nav__item a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
}

.footer-nav__item a:hover {
    color: #ff7931;
}

.footer__socials {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 169px;
    margin: 0 auto;
    padding-top: 46px;
}

.footer__socials::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 50%;
    transform: translate(-50%);
    width: 1170px;
    height: 2px;
    background: rgba(255, 255, 255, 0.4);
}

.footer__socials a {
    display: block;
    box-sizing: border-box;
    width: 47px;
    height: 47px;
    background-color: #ffffff;
    padding-top: 12px;
}

.footer__socials a:hover {
    background-color: #ff7931
}

.footer__link svg {
    fill: #575757;
}

.footer__socials a:hover svg {
    fill: #ffffff;
}